{% extends "base_with_login.html" %}
{% load static %}
{% block content %}

<body>
<div style="width:50%; margin-left:10%;margin-top:3%; margin-bottom:10%;" >
        <h1 style="margin-left:5%;padding:1%;color:red;font-size:40px; "  >سبد خرید شما</h1>
    <table class="table" >
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <div class="col-sm-1">
                        <td style="width:1%;height:5%;">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="img-rounded" width="90" height="80" src="{{ product.image.url }}">
                            </a>
                        </td>

                        <td style="width:3%;height:3%;padding-top:3%;font-size:20px ">{{ product.name }}</td>


                        <td style="width:7%;height:3%; ">
                            <form  action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_product_count_form.product_count }}
                                {{ item.update_product_count_form.update }}
                                {% csrf_token %}
                                <input style="margin-left:4%;" class="btn btn-primary" type="submit" value="به روز رسانی">
                                <button style="margin:4%;" type="button" class="btn btn-primary">
                                <a style="color:white;" href="{% url 'cart:cart_remove' product.id %}">حذف</a></button>
                              </form>
                        </td></div>
                        <td style="width:2%;height:3%;margin-top:10%;font-size:30px" class="num">تومان{{ item.price }}</td>

                        <td style="width:2%;height:3%;margin-top:10%;font-size:30px"  class="num">تومان{{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
  <tr >
                <td style="font-size:30px;padding-left:5%;">مجموع</td>
        <td style="direction: rtl;font-size:30px;">{{ cart.get_total_price }}تومان</td>
                <td colspan="2"></td>

            </tr>

    </table>
        <button style="margin-right:1%;" type="button" class="btn btn-primary"><a style="color:white;" href="{% url 'shop:index' %}" >ادامه ی خرید</a></button>
        <button type="button" class="btn btn-primary"><a style="color:white;"  href="{% url 'shop:checkout' %}" >لیست خرید</a></button>
          </div>
        </div>

</body>
{% endblock %}

