{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}
{% block content %}
    <div class="container" id="login_container">
        {% if next %}
            <form dir="rtl" style="font-size: 25px;" action="/login/?next={{next}}" method="post" >
        {%else%}
            <form action="/login/" method="post" >
        {% endif %}
            <p>
                <label>نام کاربری:</label>
                <input type="text" class="form-control" name="username">
            </p>
            <p>
                <label>رمز:</label>
                <input type="password"  class="form-control" name="password">
            </p>
            {% csrf_token %}
            <input style="font-size: 15px;" type="submit" class="btn btn-primary" value="ورود">
        </form>
            </form>
    </div>
{% endblock %}