{% extends 'base_with_login.html' %}
{%  load static %}
{% block content %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{ product_detail.image.url }}" alt="">
							</div>

						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{ product_detail.image.url }}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 dir="rtl" class="product-name">{{ product_detail.name }}</h2>

							<p style="font-size: large;font-family: 'B Nazanin';direction: rtl"> {{ product_detail.description }}</p>

	                           <div>
								<h3  class="product-price" style="font-size:40px;direction: rtl;color: green; margin-bottom:10%;margin-top:5%">{{ product_detail.price }} تومان</h3>

							</div>
							<div style="font-size:20px;" class="add-to-cart">
								<form style="margin-left:20px;" dir="rtl"  action="{%  url 'cart:cart_add' product_detail.id %}" method="post">
                                    {{ cart_add_product_form }}
                                    {% csrf_token %}
                                    <input style="margin-right:5px; width:30%; font-size:20px;" class="primaryAction btn btn-primary " type="submit" value="اضافه کردن به سبد خرید">


                                </form>
							</div>

						</div>
					</div>
					<!-- /Product details -->


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


{% endblock %}